.panel-group {
    
    .accordion {
    
        margin-top: 0 !important;
        border-bottom: 1px solid #eee;
        
        .accordion-heading {

            padding: 10px 15px;
            cursor: pointer;
            background: #f4f4f4;
            
            a {
                text-decoration: none;
            }
            
            .fa {
                float: left;
                margin: 2px 10px 0 0;
            }

            &.expand .fa {
                transform:rotate(90deg);
                -ms-transform:rotate(90deg);     /* IE 9 */
                -moz-transform:rotate(90deg);    /* Firefox */
                -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
                -o-transform:rotate(90deg);  /* Opera */
            }
            
            &.expand , &.expand:hover {
               background: $blue;
               color: $white; 
            }

            &:hover {
                background: #f8f8f8;
            }
            
        }

        

        .accordion-heading + .accordion-collapse {

            .accordion-body {
                border:none;
                background: $white;
                padding: 10px 15px;
            }
        }
    }
}