@import '../utils/variables';
@import '../mixins/animate';
@import '../mixins/vendor';



/* 字体大小 */
.font-size-xm {
    font-size: $font-size-xm;
}
.font-size-sm {
    font-size: $font-size-sm;
}
.font-size-md {
    font-size: $font-size-md;
}
.font-size-lg {
    font-size: $font-size-lg;
}


/* 方向 */
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}




